.bothformsdisplay, .details{
    padding: 1rem;
    border: 1px solid red;
    background: lightcoral;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: fit-content;
}

.forms, .details {display: none; position: absolute; z-index: 1; top: 3rem; left: 50%; transform: translate(-50%, 0);}


.projectformitems, .detailscontent{
    display: flex;
}

.projectformitems label, .priority {
    width: 100px;
}

.projectformitems textarea {
    height: 100px;
}

